In [7]:
import numpy as np
import pandas as pd
import nltk as nl

## **Import the dataset**
This dataset was retrieved from: https://www.kaggle.com/datasets/yash612/stockmarket-sentiment-dataset/discussion?sort=hotness

In [5]:
df = pd.read_csv(r'../Sentiment Analysis/stock_data.csv')
df.describe()

         Sentiment
count  5791.000000
mean      0.272664
std       0.962192
min      -1.000000
25%      -1.000000
50%       1.000000
75%       1.000000
max       1.000000

## **1. Remove any unwanted observation**

(Duplicates, variables that won't be used, irrelevant values, empty spaces, etc)

In [6]:
print('The amount of not allowed values are: ',len([i for i in df.Sentiment if not ((i==1) or (i==-1))]))
print('The amount of empty spaces is:\n', df.isna().sum())
print('The amount of duplicated rows is:', df.duplicated().sum())
df.drop([i for i in range(len(df)) if df.isna()['Sentiment'][i]==True])
df = df.drop_duplicates()

The amount of not allowed values are:  0
The amount of empty spaces is:
 Text         0
Sentiment    0
dtype: int64
The amount of duplicated rows is: 0

## **NLP using NLTK**
*Natural language processing using Natural Language Toolkit*

In [ ]:
nl.download('popular')

tokens =

In [16]:
token_list = nl.word_tokenize(df['Text'][0])
print(token_list)

['Kickers', 'on', 'my', 'watchlist', 'XIDE', 'TIT', 'SOQ', 'PNK', 'CPW', 'BPZ', 'AJ', 'trade', 'method', '1', 'or', 'method', '2', ',', 'see', 'prev', 'posts']